doctype html
html
  head
    title Cranfield Genoverse 2.0
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    a.fork
      img(src='images/cranfield-logo.jpg', alt='Cranfield University')
    .containerCustom
      .head
        h1
          | Genoverse - #{object.name}
          a.btn.btn-default.pull-right(href='/', style='font-size: 17px; text-shadow: 0 0 0;')
            span.glyphicon.glyphicon-home
            |  Home
      .wrap
        #genoverse
        p
          | Cranfield Genoverse 2.0 is a customizable, back-end independent JavaScript and Jade based genome browser which allows the user to explore data interactively. 
          | The program works with a variety of formats, such as FASTA, BED, BIGBED, BAM, VCF, and GFF. These files can be uploaded by dragging and dropping them on the genome browser.
        p
          | For more information about Cranfield Genoverse 2.0 or how to use it, please refer to 
          a(href='https://github.com/PierBJX/Cranfield-Genoverse-2.0/wiki') the wiki of this project.
        p
          | Cranfield Genoverse 2.0 is based on 
          a(href='http://wtsi-web.github.io/Genoverse/') Genoverse
          | , developed by Eugene Bragin with the collaboration of the Wellcome Sanger Institute.
    script(type='text/javascript', src='javascript/genoverse.min.js')
    script(type="text/javascript", src="javascript/lib/jquery.js")
    script(type='text/javascript', data=object, src='javascript/configGenoverse.js')
        
