doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    a.fork
      img(src='images/cranfield-logo.jpg', alt='Cranfield University')
    .containerCustom
      .head
        h1
          | Genoverse - #{object.name}
          a.btn.btn-default.pull-right(href='/', style='font-size: 17px;')
            span.glyphicon.glyphicon-home
            |  Home
      .wrap
        #genoverse
      .info
        p
          | Genoverse is a portable, customizable, back-end independent JavaScript and HTML5 based genome browser which allows the user to explore data interactively.
        p
          | Data is visualized in the browser, meaning Genoverse can be installed on any website and show data from a wide range of online or local sources.
        p
          | Genoverse works with a variety of formats, such as XML, JSON, GFF, GFF3, BED (try drag-n-drop one), and can be customized to parse and display any data source as required.
        p
          | For more information on how to use Genoverse please refer to 
          a(href='help.pdf') this tutorial
          | .
        p.help
          | If you have any questions or need help, please contact us 
          a(href='mailto:info@genoverse.org') info@genoverse.org
    script(type='text/javascript', src='javascript/genoverse.min.js')
    script.
        var data = !{JSON.stringify(object).replace(/<\//g, '<\\/')};
        var plugins = [];
        var plugin;
        for(var i in data.plugins){
            plugin = data.plugins[i];
            if(plugin.checked){
                plugins.push(plugin.id);
            }
        }
        new Genoverse({
            container: '#genoverse', // Where to inject Genoverse (css/jQuery selector/DOM element)
            // If no genome supplied, it must have at least chromosomeSize, e.g.:
            // chromosomeSize : 249250621, // chromosome 1, human
            genome: data.genome, // see javascript/genomes/
            chr: data.chr,
            start: data.start,
            end: data.end,
            plugins: plugins,
            tracks: [
                Genoverse.Track.Scalebar,
                Genoverse.Track.extend({
                    name: 'Sequence',
                    controller: Genoverse.Track.Controller.Sequence,
                    model: Genoverse.Track.Model.Sequence.Ensembl,
                    view: Genoverse.Track.View.Sequence,
                    100000: false,
                    resizable: 'auto'
                }),
                Genoverse.Track.Gene,
                Genoverse.Track.extend({
                    name: 'Regulatory Features',
                    url: 'http://rest.ensembl.org/overlap/region/human/__CHR__:__START__-__END__?feature=regulatory;content-type=application/json',
                    resizable: 'auto',
                    model: Genoverse.Track.Model.extend({dataRequestLimit: 5000000}),
                    setFeatureColor: function (f) {
                        f.color = '#AAA';
                    }
                }),
                Genoverse.Track.dbSNP
            ]
        });
