doctype html
html
  head
    title Cranfield Genoverse
    link(rel='stylesheet', type='text/css', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    a.fork
      img.img-responsive(src='images/cranfield-logo.jpg', alt='Cranfield University')
    .containerCustom
      .head
        h1 Cranfield Genoverse - Welcome
        if(user)
          h6.pull-right #{user.name}
      .wrap
      .panel-body
        .row
          .col-md-8
            .panel.panel-default(style='margin:0px 0;')
              // Default panel contents
              .panel-heading
                h2 Available Genoverse Instances
              // List group
              ul#plugins.list-group
                each instance, i in listInstances
                    li.list-group-item
                      a(href='index') #{instance.name}
                      font(size='2')  #{instance.description}
                      if(user)
                        button.btn.btn-default.btn-xs.pull-right(type='button')
                            span.glyphicon.glyphicon-edit
                            |  Modify
                      .clearfix  
          .col-md-4
            if(user)
                .container-fluid.text-center
                  .row
                    .col-md-6
                      .glyphicon-ring
                        span.glyphicon.glyphicon-plus.glyphicon-bordered
                    .col-md-6
                      a(href='logout')
                        .glyphicon-ring(style='border-color: tomato')
                          span.glyphicon.glyphicon-log-out.glyphicon-bordered(style='color: tomato')
                  .row
                    .col-md-6
                      font(color='#5F8CB0')  New Instance 
                    .col-md-6
                      a(href='logout' style='color: tomato') Sign out 
            else
                .container-fluid.text-center
                  .row
                    .col-md-12
                      a(href='login')
                        .glyphicon-ring
                          span.glyphicon.glyphicon-log-in.glyphicon-bordered
                  .row
                    .col-md-12
                      a(href='login') Sign in 