.gv-select-chr {
    background: none;
    border: none;
    border-bottom: 1px solid #1C5380;
    color: #E2E9EF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    font-family: sans-serif;
    width: 30px;
    height: 50px;
    line-height: 20px;
    padding: 2px;
    margin: 0;
}

.gv-chr-list {
    background-color: #5F8CB0;
    font-size: 18px;
    font-family: sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    width: 55px;
    height: 45px;
    line-height: 20px;
    padding: 2px;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}